<h1>Profil de <%= @user.email %></h1>

<p><strong>Email:</strong> <%= @user.email %></p>

<% if @user.buyer %>
  <p><strong>Type de compte:</strong> Acheteur</p>
<% end %>

<% if @user.seller %>
  <p><strong>Type de compte:</strong> Vendeur</p>
<% else %>
  <%= form_with url: upgrade_to_seller_path, method: :post, local: true do %>
    <%= button_to "Devenir vendeur", upgrade_to_seller_path, method: :post, class: "button" %>
  <% end %>
<% end %>

<%= link_to 'Retour à la page d\'accueil', root_path %>