<h1>Profil de <%= @user.email %></h1>

<p><strong>Email:</strong> <%= @user.email %></p>

<% if @user.buyer %>
  <p><strong>Type de compte:</strong> Acheteur</p>
<% end %>

<%= form_with url: update_seller_status_path, method: :patch, local: true do %>
  <div>
    <%= label_tag :seller, "Je suis un vendeur" %>
    <%= check_box_tag :seller, '1', @user.seller.present? %>
  </div>
  <div>
    <%= submit_tag "Mettre à jour", class: "button" %>
  </div>
<% end %>

<%= link_to 'Retour à la page d\'accueil', root_path %>