<nav>
  <%= link_to 'Home', root_path %>
  <% if logged_in? %>
    <%= link_to 'Logout', logout_path, method: :delete %>
    <%= link_to 'Profile', profile_path %>
  <% else %>
    <%= link_to 'Sign in', login_path %> |
    <%= link_to 'Sign up', register_path %>
  <% end %>
</nav>