<h1>Passer une Commande pour <%= @product.name %></h1>

<p>
  <strong>Nom :</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description :</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Prix :</strong>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <strong>Stock :</strong>
  <%= @product.stock %>
</p>

<%= form_with model: @order, url: product_order_path(@product), local: true do |form| %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <div>
    <%= form.label :quantity, "Quantité" %>
    <%= form.number_field :quantity, value: 1, min: 1, max: @product.stock %>
  </div>
  <div>
    <%= form.submit "Acheter", class: "button" %>
  </div>
<% end %>

<%= link_to 'Retour aux détails du produit', product_path(@product) %>
