<h1>Détails du Produit</h1>

<p>
  <strong>Nom :</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description :</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Prix :</strong>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <strong>Stock :</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Vendeur :</strong>
  <%= @product.seller.user.email %>
</p>

<%= link_to 'Retour à la liste des produits', products_path %>
